/* Shop Page Header */
#page-header {
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2, 
#page-header p {
    color: #fff;
}

/* Pagination Styles */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover {
    background-color: #066b64; /* Slightly darker teal for hover */
}

/* Logic for spacing between page numbers */
#pagination a:not(:last-child) {
    margin-right: 5px;
}